@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Geist';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./fonts/Geist-Regular.otf') format('opentype');
  }

  @font-face {
    font-family: 'Geist';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('./fonts/Geist-Medium.otf') format('opentype');
  }

  @font-face {
    font-family: 'Geist';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('./fonts/Geist-Light.otf') format('opentype');
  }

  @font-face {
    font-family: 'Geist';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('./fonts/Geist-SemiBold.otf') format('opentype');
  }

  @font-face {
    font-family: 'Geist';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('./fonts/Geist-Bold.otf') format('opentype');
  }

  @font-face {
    font-family: 'Geist';
    font-style: normal;
    font-weight:  800;
    font-display: swap;
    src: url('./fonts/Geist-Black.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'Geist';
    font-style: normal;
    font-weight:  900;
    font-display: swap;
    src: url('./fonts/Geist-UltraBlack.otf') format('opentype');
  }
}

body {
  background-color: #201f1f;
  color: white;
}

#app {
  display: flex;
  max-width: 1280px;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

button {
  @apply rounded-md border-2 border-stone-700 active:border-stone-400 px-4 py-2 bg-stone-900 hover:bg-stone-800 md:text-lg xl:text-base text-white leading-tight shadow-md;
}

input[type="text"] {
  @apply rounded-md border-2 border-stone-700 focus:border-stone-400 focus:outline-none px-4 py-2 bg-stone-500 text-white;
}

.danger-btn {
  @apply border-rose-600 text-rose-600 bg-rose-950 hover:bg-rose-900;
}

.success-btn {
  background: rgb(2 44 34);
  color: rgb(52 211 153);
  border: 2px solid rgb(52 211 153);
}

.selected-btn {
  @apply border-stone-100 bg-stone-700;
}

.danger-btn-onhover:hover {
  @apply danger-btn;
}

.success-btn-onhover:hover {
  @apply success-btn;
}


@keyframes appear {
  from {
      transform: translateY(50px);
      opacity: 0;
  }

  to {
      transform: translateY(0px);
      opacity: 1;
  }
}

.appear-anim {
  animation: .1s ease appear;
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--form-background);
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.3em solid currentColor;
  border-radius: 50%;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 1.7em;
  height: 1.70em;
  border-radius: 50%;
  opacity: .25;
  transition: 120ms opacity ease-in-out;
  box-shadow: inset 1em 1em white;
  background-color: white;
}

input[type="radio"].middle-radio::before {
  width: 1.1em;
  height: 1.1em;
}

input[type="radio"].small-radio::before {
  width: 0.5em;
  height: 0.5em;
}

input[type="radio"]:checked::before {
  opacity: 1;
}

input[type="radio"]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}
